<a href="https://colab.research.google.com/github/Kolosocc/Convert/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

def read_file(file_name):
    with open(file_name, 'r', encoding='utf-8') as file:
        words = [word.strip() for word in file.readlines()]
    return words

def word_progress(word, guessed_letters):
    progress = []
    for letter in word:
        if letter in guessed_letters:
            progress.append(letter)
        else:
            progress.append('_')
    return ' '.join(progress)

def user_guess(alphabet=set('абвгдеёжзийклмнопрстуфхцчшщъыьэюя')):
    text = input("Введите одну букву: ")
    if len(text) != 1:
        print("нужно одну букву, много букв сложно")
        return
    if text.lower() not in alphabet:
        print("Нужна одна буква из русского алфавита, не используй эльфийский или кракозябры")
        return
    return text.lower()

def play_game():
    words = read_file('input.txt')
    word = random.choice(words).lower()
    guessed_letters = []
    attempts = len(word) * 2

    print(f"Загадано слово из {len(word)} букв.")

    while attempts > 0:
        print(word_progress(word, guessed_letters))
        print(f"У вас осталось {attempts} попыток.")

        guess = user_guess()
        if not guess:
            continue

        if guess in guessed_letters:
            print("Вы уже пытались эту букву.")
            continue

        guessed_letters.append(guess)
        if guess not in word:
            attempts -= 1
            print(f"Неверная буква. Осталось {attempts} попыток.")
        else:
            print("Верно!")

        if '_' not in word_progress(word, guessed_letters):
            print(f"Поздравляю! Вы угадали слово '{word}'.")
            return

    print(f"Игра окончена. Загаданное слово было '{word}'.")

if __name__ == "__main__":
    play_game()

Загадано слово из 6 букв.
_ _ _ _ _ _
У вас осталось 12 попыток.
Введите одну букву: f
Нужна одна буква из русского алфавита, не используй эльфийский или кракозябры
_ _ _ _ _ _
У вас осталось 12 попыток.
Введите одну букву: п
Верно!
п _ _ _ _ _
У вас осталось 12 попыток.
Введите одну букву: у
Неверная буква. Осталось 11 попыток.
п _ _ _ _ _
У вас осталось 11 попыток.
Введите одну букву: f
Нужна одна буква из русского алфавита, не используй эльфийский или кракозябры
п _ _ _ _ _
У вас осталось 11 попыток.

KeyboardInterrupt: Interrupted by user

In [ ]:
import random

def is_valid_input(user_input):
    if user_input.isdigit():
        return True
    else:
        return False

def play_game():
    print("Я загадываю число от 1 до 100. Угадать его!")

    number_to_guess = random.randint(1, 100)
    attempts = 0

    while True:
        user_input = input("Введите ваше предположение: ")

        if not is_valid_input(user_input):
            print("Пожалуйста, вводите только целые числа.")
            continue

        guess = int(user_input)
        attempts += 1
        if guess == number_to_guess:
            print(f"Поздравляю! Вы угадали число {number_to_guess} за {attempts} попыток.")
            break
        elif random.randint(1, 12-attempts) == 1:
          print(f"Слишком много думаешь, ты проиграл. Правильный ответ {number_to_guess}")
          break
        elif random.randint(1, 4) == 1:
            print("Сегодня мне лень, думай сам!")
        elif guess < number_to_guess:
            print("маленькое число")
        elif guess > number_to_guess:
            print("большое число")


if __name__ == "__main__":
    play_game()

Я загадываю число от 1 до 100. Угадать его!
Введите ваше предположение: 78
Сегодня мне лень, думай сам!
Введите ваше предположение: 50
маленькое число
Введите ваше предположение: 90
Сегодня мне лень, думай сам!
Введите ваше предположение: 86
Сегодня мне лень, думай сам!
Введите ваше предположение: 83
большое число
Введите ваше предположение: 75
большое число
Введите ваше предположение: 69
большое число
Введите ваше предположение: 59
Слишком много думаешь, ты проиграл. Правильный ответ 62

In [ ]:
import random

def play_game(num_questions=5):
    correct_answers = 0
    print(f"Вы должны ответить на {num_questions} вопросов.")

    for _ in range(num_questions):
        num1 = random.randint(1, 1000)
        num2 = random.randint(1, 1000)
        correct_answer = num1 * num2

        user_input = input(f"\nСколько будет {num1} умножить на {num2}? ")

        if user_input.isdigit():
            user_answer = int(user_input)

            if user_answer == correct_answer:
                print("Правильно!")
                correct_answers += 1
            else:
                print(f"Неправильно! Правильный ответ: {correct_answer}. Вы проиграли.")
                return
        else:
            print("Пожалуйста, введите корректное целое число. Вы проиграли.")
            exit()

    print(f"Игра закончена! Вы ответили правильно на {correct_answers} из {num_questions} вопросов.")

if __name__ == "__main__":
    play_game()

Вы должны ответить на 5 вопросов.

Сколько будет 478 умножить на 88? 1
Неправильно! Правильный ответ: 42064. Вы проиграли.

In [4]:
import pandas as pd
#1 и 2
df = pd.read_csv('data.csv')

print("Первые 5 строк:")
print(df.head())
print("\nПоследние 5 строк:")
print(df.tail())

Первые 5 строк:
      Id  DistrictId  Rooms      Square  LifeSquare  KitchenSquare  Floor  \
0  11809          27    3.0  115.027311         NaN           10.0      4
1   3013          22    1.0   39.832524   23.169223            8.0      7
2   8215           1    3.0   78.342215   47.671972           10.0      2
3   2352           1    1.0   40.409907         NaN            1.0     10
4  13866          94    2.0   64.285067   38.562517            9.0     16

   HouseFloor  HouseYear  Ecology_1 Ecology_2 Ecology_3  Social_1  Social_2  \
0        10.0       2014   0.075424         B         B        11      3097
1         8.0       1966   0.118537         B         B        30      6207
2        17.0       1988   0.025609         B         B        33      5261
3        22.0       1977   0.007122         B         B         1       264
4        16.0       1972   0.282798         B         B        33      8667

   Social_3  Healthcare_1  Helthcare_2  Shops_1 Shops_2          Price
0         0           NaN            0        0       B  305018.871089
1         1        1183.0            1        0       B  177734.553407
2         0         240.0            3        1       B  282078.720850
3         0           NaN            0        1       B  168106.007630
4         2           NaN            0        6       B  343995.102962

Последние 5 строк:
         Id  DistrictId  Rooms     Square  LifeSquare  KitchenSquare  Floor  \
9995   1260          61    2.0  49.090728   33.272626            6.0      3
9996  16265          27    2.0  64.307684   37.038420            9.0     13
9997   2795         178    1.0  29.648057   16.555363            5.0      3
9998  14561          21    1.0  32.330292   22.326870            5.0      3
9999   7202          94    1.0  35.815476   22.301367            6.0      9

      HouseFloor  HouseYear  Ecology_1 Ecology_2 Ecology_3  Social_1  \
9995        12.0       1981   0.300323         B         B        52
9996         0.0       1977   0.072158         B         B         2
9997         5.0       1958   0.460556         B         B        20
9998         9.0       1969   0.194489         B         B        47
9999         9.0       1975   0.127376         B         B        43

      Social_2  Social_3  Healthcare_1  Helthcare_2  Shops_1 Shops_2  \
9995     10311         6           NaN            1        9       B
9996       629         1           NaN            0        0       A
9997      4386        14           NaN            1        5       B
9998      8004         3         125.0            3        5       B
9999      8429         3           NaN            3        9       B

              Price
9995  119367.455796
9996  199715.148807
9997  165953.912580
9998  171842.411855
9999  177685.627486

Количество строк: 10000
Количество столбцов: 20

Типы данных:
Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

Количество непустых значений в каждом столбце:
Id               10000
DistrictId       10000
Rooms            10000
Square           10000
LifeSquare        7887
KitchenSquare    10000
Floor            10000
HouseFloor       10000
HouseYear        10000
Ecology_1        10000
Ecology_2        10000
Ecology_3        10000
Social_1         10000
Social_2         10000
Social_3         10000
Healthcare_1      5202
Helthcare_2      10000
Shops_1          10000
Shops_2          10000
Price            10000
dtype: int64

KeyError: "['ID'] not found in axis"

In [8]:
import pandas as pd

df = pd.read_csv('data.csv')

print(f"\nКоличество строк: {df.shape[0]}")
print(f"Количество столбцов: {df.shape[1]}")
print("\nТипы данных:")
print(df.dtypes)
print("\nКоличество непустых значений в каждом столбце:")
print(df.count())

Количество строк: 10000
Количество столбцов: 20

Типы данных:
Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

Количество непустых значений в каждом столбце:
Id               10000
DistrictId       10000
Rooms            10000
Square           10000
LifeSquare        7887
KitchenSquare    10000
Floor            10000
HouseFloor       10000
HouseYear        10000
Ecology_1        10000
Ecology_2        10000
Ecology_3        10000
Social_1         10000
Social_2         10000
Social_3         10000
Healthcare_1      5202
Helthcare_2      10000
Shops_1          10000
Shops_2          10000
Price            10000
dtype: int64

In [15]:
import pandas as pd

df = pd.read_csv('data.csv')
old_column_names = df.columns.tolist()
df = df.drop(columns=['Id'])

new_column_names = ['Идентификатор района', 'Комнаты', 'Площадь', 'Жилая площадь', 'Площадь кухни',
                    'Этаж', 'Этажность дома', 'Год постройки', 'Экология 1', 'Экология 2',
                    'Экология 3', 'Социальные условия 1', 'Социальные условия 2', 'Социальные условия 3',
                    'Здравоохранение 1', 'Здравоохранение 2', 'Магазины 1',
                    'Магазины 2', 'Цена']

df.columns = new_column_names
old_column_names.remove('Id')

columns_comparison = pd.DataFrame({
    'Старые названия': old_column_names,
    'Новые названия': new_column_names
})

print(columns_comparison)

   Старые названия        Новые названия
0       DistrictId  Идентификатор района
1            Rooms               Комнаты
2           Square               Площадь
3       LifeSquare         Жилая площадь
4    KitchenSquare         Площадь кухни
5            Floor                  Этаж
6       HouseFloor        Этажность дома
7        HouseYear         Год постройки
8        Ecology_1            Экология 1
9        Ecology_2            Экология 2
10       Ecology_3            Экология 3
11        Social_1  Социальные условия 1
12        Social_2  Социальные условия 2
13        Social_3  Социальные условия 3
14    Healthcare_1     Здравоохранение 1
15     Helthcare_2     Здравоохранение 2
16         Shops_1            Магазины 1
17         Shops_2            Магазины 2
18           Price                  Цена

In [29]:
import pandas as pd

df = pd.read_csv('data.csv')

print("\nСтолбец с названием ")
print(df['Price'])

print("\nПервая строка по индексу:")
print(df.iloc[0])
print("\nДесятая строка по индексу:")
print(df.iloc[9])
print("\nПредпоследняя строка по индексу:")
print(df.iloc[-2])

print("\nПервая строка по номеру:")
print(df.loc[0])
print("\nДесятая строка по номеру:")
print(df.loc[9])
print("\nПредпоследняя строка по номеру:")
print(df.loc[len(df) - 2])

Столбец с названием
0       305018.871089
1       177734.553407
2       282078.720850
3       168106.007630
4       343995.102962
            ...
9995    119367.455796
9996    199715.148807
9997    165953.912580
9998    171842.411855
9999    177685.627486
Name: Price, Length: 10000, dtype: float64

Первая строка по номеру:
Id                       11809
DistrictId                  27
Rooms                      3.0
Square              115.027311
LifeSquare                 NaN
KitchenSquare             10.0
Floor                        4
HouseFloor                10.0
HouseYear                 2014
Ecology_1             0.075424
Ecology_2                    B
Ecology_3                    B
Social_1                    11
Social_2                  3097
Social_3                     0
Healthcare_1               NaN
Helthcare_2                  0
Shops_1                      0
Shops_2                      B
Price            305018.871089
Name: 0, dtype: object

Десятая строка по номеру:
Id                        8094
DistrictId                   6
Rooms                      3.0
Square               79.867477
LifeSquare           75.085125
KitchenSquare              1.0
Floor                        3
HouseFloor                17.0
HouseYear                 2014
Ecology_1             0.243205
Ecology_2                    B
Ecology_3                    B
Social_1                     5
Social_2                  1564
Social_3                     0
Healthcare_1             540.0
Helthcare_2                  0
Shops_1                      0
Shops_2                      B
Price            194756.023945
Name: 9, dtype: object

Предпоследняя строка по индексу:
Id                       14561
DistrictId                  21
Rooms                      1.0
Square               32.330292
LifeSquare            22.32687
KitchenSquare              5.0
Floor                        3
HouseFloor                 9.0
HouseYear                 1969
Ecology_1             0.194489
Ecology_2                    B
Ecology_3                    B
Social_1                    47
Social_2                  8004
Social_3                     3
Healthcare_1             125.0
Helthcare_2                  3
Shops_1                      5
Shops_2                      B
Price            171842.411855
Name: 9998, dtype: object

Первая строка по названию:
Id                       11809
DistrictId                  27
Rooms                      3.0
Square              115.027311
LifeSquare                 NaN
KitchenSquare             10.0
Floor                        4
HouseFloor                10.0
HouseYear                 2014
Ecology_1             0.075424
Ecology_2                    B
Ecology_3                    B
Social_1                    11
Social_2                  3097
Social_3                     0
Healthcare_1               NaN
Helthcare_2                  0
Shops_1                      0
Shops_2                      B
Price            305018.871089
Name: 0, dtype: object

Десятая строка по названию:
Id                        8094
DistrictId                   6
Rooms                      3.0
Square               79.867477
LifeSquare           75.085125
KitchenSquare              1.0
Floor                        3
HouseFloor                17.0
HouseYear                 2014
Ecology_1             0.243205
Ecology_2                    B
Ecology_3                    B
Social_1                     5
Social_2                  1564
Social_3                     0
Healthcare_1             540.0
Helthcare_2                  0
Shops_1                      0
Shops_2                      B
Price            194756.023945
Name: 9, dtype: object

Предпоследняя строка по названию:
Id                       14561
DistrictId                  21
Rooms                      1.0
Square               32.330292
LifeSquare            22.32687
KitchenSquare              5.0
Floor                        3
HouseFloor                 9.0
HouseYear                 1969
Ecology_1             0.194489
Ecology_2                    B
Ecology_3                    B
Social_1                    47
Social_2                  8004
Social_3                     3
Healthcare_1             125.0
Helthcare_2                  3
Shops_1                      5
Shops_2                      B
Price            171842.411855
Name: 9998, dtype: object

In [38]:
import pandas as pd

df = pd.read_csv('data.csv')

print("Начальные цены:")
print(df['Price'].tail(10))

last_ten_rows = df.tail(10)
last_ten_rows = last_ten_rows.drop(columns=['Price'])

combined_df = pd.concat([df, last_ten_rows], ignore_index=True)
average_price = df['Price'].mean()
combined_df['Price'].fillna(average_price, inplace=True)

print("\nЦены после преобразования:")
print(combined_df['Price'])

Начальные цены:
9990    112411.221700
9991    182625.548872
9992    196641.468817
9993    264213.558631
9994    136744.340827
9995    119367.455796
9996    199715.148807
9997    165953.912580
9998    171842.411855
9999    177685.627486
Name: Price, dtype: float64

Цены после преобразования:
0        305018.871089
1        177734.553407
2        282078.720850
3        168106.007630
4        343995.102962
             ...
10005    214138.857399
10006    214138.857399
10007    214138.857399
10008    214138.857399
10009    214138.857399
Name: Price, Length: 10010, dtype: float64

In [45]:
import pandas as ps

df = ps.read_csv('data.csv')

last_five = df.iloc[:, -5:]

mean_price = df['Price'].mean()
last_five = last_five[df['Price'] >= mean_price]

print(last_five)

      Healthcare_1  Helthcare_2  Shops_1 Shops_2          Price
0              NaN            0        0       B  305018.871089
2            240.0            3        1       B  282078.720850
4              NaN            0        6       B  343995.102962
7            176.0            5        5       B  326174.175191
10          2620.0            0        3       B  512797.373401
...            ...          ...      ...     ...            ...
9971           NaN            0        1       B  500562.663412
9973           NaN            1        3       B  260456.004692
9977           NaN            1        0       B  381850.701985
9989         145.0            0        1       B  227361.501595
9993           NaN            0        1       B  264213.558631

[3825 rows x 5 columns]

In [52]:
import pandas as pd

df = pd.read_csv('data.csv')

average_price_per_floor = df.groupby('Floor').agg({'Price': ['mean', 'count']})

print("\nСредняя цена и количество квартир на каждом этаже:")
print(average_price_per_floor)

Средняя цена и количество квартир на каждом этаже:
      HouseFloor
            mean count
Floor
1       8.042553   235
2       9.506803   588
3       9.881881   872
4       9.877766   949
5      10.444064   876
6      11.362843   802
7      11.479578   759
8      13.060653   643
9      12.711921   604
10     13.254973   553
11     13.669584   457
12     14.703196   438
13     15.055276   398
14     15.505525   362
15     16.435540   287
16     16.582759   290
17     16.906250   256
18     17.654054   185
19     18.247934   121
20     19.661765    68
21     18.474576    59
22     21.370370    54
23     21.000000    25
24     20.113208    53
25     19.882353    34
26     20.555556    18
27     20.200000     5
28     20.333333     3
31     44.000000     1
32     36.000000     2
33     40.000000     1
37     38.000000     1
42     48.000000     1

In [57]:
import numpy as np
import pandas as ps
df = ps.read_csv('data.csv')

df = df.drop(columns=['Id', 'DistrictId'])

df.columns  = ['Комнаты', 'Площадь', 'Жилая площадь', 'Площадь кухни',
                    'Этаж', 'Этажность дома', 'Год постройки', 'Экология 1', 'Экология 2',
                    'Экология 3', 'Социальные условия 1', 'Социальные условия 2', 'Социальные условия 3',
                    'Здравоохранение 1', 'Здравоохранение 2', 'Магазины 1',
                    'Магазины 2', 'Цена']

last_ten = df.tail(10)
last_ten = last_ten.drop(columns=['Цена'])
combined_df = ps.concat([df, last_ten], ignore_index=True)
mean_price = df['Цена'].mean()
combined_df['Цена'].fillna(mean_price, inplace=True)

combined_df.to_csv('combined_df.csv', index=False)
combined_df.to_excel('combined_df.xlsx', index=False)

csv_check = ps.read_csv('combined_df.csv')
xlsx_check = ps.read_excel('combined_df.xlsx')

print(csv_check)

print(xlsx_check)

       Комнаты     Площадь  Жилая площадь  Площадь кухни  Этаж  \
0          3.0  115.027311            NaN           10.0     4
1          1.0   39.832524      23.169223            8.0     7
2          3.0   78.342215      47.671972           10.0     2
3          1.0   40.409907            NaN            1.0    10
4          2.0   64.285067      38.562517            9.0    16
...        ...         ...            ...            ...   ...
10005      2.0   49.090728      33.272626            6.0     3
10006      2.0   64.307684      37.038420            9.0    13
10007      1.0   29.648057      16.555363            5.0     3
10008      1.0   32.330292      22.326870            5.0     3
10009      1.0   35.815476      22.301367            6.0     9

       Этажность дома  Год постройки  Экология 1 Экология 2 Экология 3  \
0                10.0           2014    0.075424          B          B
1                 8.0           1966    0.118537          B          B
2                17.0           1988    0.025609          B          B
3                22.0           1977    0.007122          B          B
4                16.0           1972    0.282798          B          B
...               ...            ...         ...        ...        ...
10005            12.0           1981    0.300323          B          B
10006             0.0           1977    0.072158          B          B
10007             5.0           1958    0.460556          B          B
10008             9.0           1969    0.194489          B          B
10009             9.0           1975    0.127376          B          B

       Социальные условия 1  Социальные условия 2  Социальные условия 3  \
0                        11                  3097                     0
1                        30                  6207                     1
2                        33                  5261                     0
3                         1                   264                     0
4                        33                  8667                     2
...                     ...                   ...                   ...
10005                    52                 10311                     6
10006                     2                   629                     1
10007                    20                  4386                    14
10008                    47                  8004                     3
10009                    43                  8429                     3

       Здравоохранение 1  Здравоохранение 2  Магазины 1 Магазины 2  \
0                    NaN                  0           0          B
1                 1183.0                  1           0          B
2                  240.0                  3           1          B
3                    NaN                  0           1          B
4                    NaN                  0           6          B
...                  ...                ...         ...        ...
10005                NaN                  1           9          B
10006                NaN                  0           0          A
10007                NaN                  1           5          B
10008              125.0                  3           5          B
10009                NaN                  3           9          B

                Цена
0      305018.871089
1      177734.553407
2      282078.720850
3      168106.007630
4      343995.102962
...              ...
10005  214138.857399
10006  214138.857399
10007  214138.857399
10008  214138.857399
10009  214138.857399

[10010 rows x 18 columns]
       Комнаты     Площадь  Жилая площадь  Площадь кухни  Этаж  \
0            3  115.027311            NaN             10     4
1            1   39.832524      23.169223              8     7
2            3   78.342215      47.671972             10     2
3            1   40.409907            NaN              1    10
4            2   64.285067      38.562517              9    16
...        ...         ...            ...            ...   ...
10005        2   49.090728      33.272626              6     3
10006        2   64.307684      37.038420              9    13
10007        1   29.648057      16.555363              5     3
10008        1   32.330292      22.326870              5     3
10009        1   35.815476      22.301367              6     9

       Этажность дома  Год постройки  Экология 1 Экология 2 Экология 3  \
0                  10           2014    0.075424          B          B
1                   8           1966    0.118537          B          B
2                  17           1988    0.025609          B          B
3                  22           1977    0.007122          B          B
4                  16           1972    0.282798          B          B
...               ...            ...         ...        ...        ...
10005              12           1981    0.300323          B          B
10006               0           1977    0.072158          B          B
10007               5           1958    0.460556          B          B
10008               9           1969    0.194489          B          B
10009               9           1975    0.127376          B          B

       Социальные условия 1  Социальные условия 2  Социальные условия 3  \
0                        11                  3097                     0
1                        30                  6207                     1
2                        33                  5261                     0
3                         1                   264                     0
4                        33                  8667                     2
...                     ...                   ...                   ...
10005                    52                 10311                     6
10006                     2                   629                     1
10007                    20                  4386                    14
10008                    47                  8004                     3
10009                    43                  8429                     3

       Здравоохранение 1  Здравоохранение 2  Магазины 1 Магазины 2  \
0                    NaN                  0           0          B
1                 1183.0                  1           0          B
2                  240.0                  3           1          B
3                    NaN                  0           1          B
4                    NaN                  0           6          B
...                  ...                ...         ...        ...
10005                NaN                  1           9          B
10006                NaN                  0           0          A
10007                NaN                  1           5          B
10008              125.0                  3           5          B
10009                NaN                  3           9          B

                Цена
0      305018.871089
1      177734.553407
2      282078.720850
3      168106.007630
4      343995.102962
...              ...
10005  214138.857399
10006  214138.857399
10007  214138.857399
10008  214138.857399
10009  214138.857399

[10010 rows x 18 columns]